<h1>home ejs</h1>
<head>
    <link rel="stylesheet" href="/css/home.css">
</head>
<title>
    <%=title%>
    
</title>
<body>
    <h1>contactlist</h1>
    <p><%=contact_list[0]%></p>
    <p><%=contact_list[0]%></p>
     <section>
        <ul>
            <% contact_list.forEach(function( i){ %>
                <li> <%= i.name %>  <%= i.number %> </li>
            <% }) %> 
        </ul>
    </section>
    <section>
        <ul> 
            <% contact_list.map((i)=>{ %>
              <li>
                  <%= i.number %>
              </li>
            <% }) %>
           </ul>
    </section>

    <section>
        <ul>
           <% for ( let  i of contact_list){ %>
                <li><%=i.name%></li>
                <li><%=i.number%></li>
            <%}%>
        </ul>
    </section>


     <div class="input">
        <form action="/create" method="POST">
            First name: <input type="text" name="name" />

            Number: <input type="number" name="number" />

            <button type="submit" value="submit">Submit</button>
        </form>

    </div>
<script type="text/javascript" src="/js/home.js"> </script>
</body>