
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/home.css">
</head>
<title>
    <%=title%>
    
</title>
<body>

    <p><%=contact_list[0]%></p>
    <p><%=contact_list[0]%></p>
     <section>
        <ul>
            <% contact_list.forEach(function( i){ %>
                <li> <%= i.name %>  <%= i.number %> </li>
            <% }) %> 
        </ul>
    </section>
    <section>
        <ul> 
            <% contact_list.map((i)=>{ %>
              <li>
                  <%= i.number %>
              </li>
            <% }) %>
           </ul>
    </section>
    <h1><i class="fas fa-address-book"></i>This is contact list</h1>


    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Phone number</th>
                <th>Remove </th>
            </tr>
            <% for(let i of contact_list){%>
                <tr>
                    <td>
                        <%=i.name%>
                    </td>
                    <td>
                        <%=i.number%>
                    </td>
                    <td>
                        <a href="/delete-contact/?number=<%=i.number%>">delete</a>
                    </td>
                </tr>
                <%} %>
        </table>
    </div>

     <div class="input">
        <form action="/create" method="POST">
            First name: <input type="text" name="name" />

            Number: <input type="number" name="number" />

            <button type="submit" value="submit">Submit</button>
        </form>

    </div>
<script type="text/javascript" src="/js/home.js"> </script>
</body>